#enter-view .slider{
    height: 100%;
}
#enter-btn{
    float: right;
}
#enter-view .slider-slides{


}
.slider-slides img,.pic{
    height: 100%;
    width:100%;
}
.pic:last-child{
    position: relative;
}
.enter-btn{
    position: absolute;
    bottom: 5%;
    left: 41%;
}


